* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("images/bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
    border-radius: 10px;
}

nav a:hover {
    background: rgba(205, 161, 16, 0.14);
    opacity: 0.95;
}

/* Menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: white;
    transition: opacity 3000ms ease-in;
}

.dropdown-toggle:hover { opacity: 0.7; }

.dropdown-menu {
    position: absolute;
    top: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    padding: 1px 1px;
    border-radius: 16px;

    background: rgba(49, 4, 4, 0.521);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    opacity: 0;
    visibility: hidden;
    transform-origin: top center;
    transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 6px 10px;
    border-radius: 10px;
    transition: 200ms ease, opacity 200ms ease;
}

.dropdown-menu a:hover {
    background: rgba(205, 161, 16, 0.14);
    opacity: 0.95;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


